/* ########------- GENERAL --------- ########### */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Nunito Sans", sans-serif;
}

.container-page {
  background-color: #f6f9fe;
  margin: 1.2rem;
  border-radius: 8px;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-left: 8rem;
  padding-right: 8rem;
}

/* ########------- HEADER --------- ########### */
header {
  display: flex;
  justify-content: space-between;
  padding-top: 2.2rem;
  padding-bottom: 2rem;
}
.logo-icon {
  width: 14rem;
}
.main-navbar-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #5a5a5b;
  font-size: 1.8rem;
}
.btn {
  background: none;
  background-color: #372865;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  font-family: "Nunito Sans", sans-serif;
  padding: 1.8rem;
  cursor: pointer;
  border-radius: 5px;
  /* transition: all 0.3s; */
}
/* ########------- HERO --------- ########### */
.hero {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}
.hero-text-box {
  max-width: 98%;
}
.hero-little-title {
  padding: 0.8rem 1.4rem;
  padding-right: 2.8rem;
  font-size: 1.8rem;
  border-radius: 20px;
  margin: 1.2rem 0;
  background-color: #372865;
  display: inline-block;
  /* color: #888; */
  color: #b7acd3;
}
.hero-little-title span {
  color: #ccc1e6;
  text-decoration: underline;
}
.hero-title {
  font-size: 4.8rem;
  color: #353252;
}

.hero-paragraph {
  color: #5a5a5b;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
input {
  font-size: 1.4rem;
  border: 1px solid #999;
  font-family: "Nunito Sans", sans-serif;
  padding: 1.8rem;
  width: 45%;
  border-radius: 5px;
  margin-right: 1.2rem;
}
input::placeholder {
  color: #999;
  font-weight: 600;
}
.header-img {
  width: 90%;
}
.hero-img-box {
  text-align: end;
}
/* ########------- USED BY --------- ########### */
.used-by {
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
}
.used-title {
  font-weight: 600;
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.logos-companies {
  display: flex;
  gap: 1.6rem;
}
.logos-companies img {
  height: 4.8rem;
}
